.basket {
    max-width: 600px;
    border: 2px solid rgb(255, 157, 46);
    border-radius: 10px;
    margin: auto;
    background-color: #FFFFFF;
    padding-bottom: 50px;
}

.basket__title {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 15px;
}

.basket__button {
    border: none;
    background-color: #FFFFFF;
}