.basket {
    max-width: 600px;
    border-radius: 10px;
    margin: 0 auto 50px;
    background-color: #FFFFFF;
    max-height: 650px;
    overflow: auto;
}

.basket__title {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 15px;
}

.basket__button {
    border: none;
    background-color: #FFFFFF;
}

.basket__info-container {
    display: flex;
    justify-content: center;
}

.basket__info-text {
    display: block;
    text-align: center;

}

.basket__info-emoji {
    font-size: 22px;
    display: flex;
    align-self: center;
    margin: 0;
}