.header {
    box-sizing: content-box;
    margin: auto;
    font-family: Inter;
    text-decoration: none;
    background-color: rgb(255, 157, 46);
    display: flex;
    border-radius: 30px;
}

.header__logo {
    
    max-width: 150px;
    
    border-radius: 10px;
    
    box-sizing: border-box;
}

.header__title {
    margin: 0;
    align-self: center;
    margin-left: 220px;
    font-size: 40px;
    font-weight: 400;
}