.product {
    font-family: Inter;
    display: flex;
    padding: 12px;
    border-radius: 24px;
    flex-direction: column;
    max-width: 230px;
    background-color: white;
}

.product_stop {
    opacity: 0.8;
}

.product__image {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.product__name {
    margin-top: 15px;
    text-align: center;
}

.product__cost {
    display: flex;
    flex-direction: column;
   margin: 15px 0;
}

.product__full-cost {
    text-align: center;
    font-size: 25px;
}

.product__full-cost_sale{
    text-align: center;
    text-decoration: line-through;
    color: #9E9B98;
    text-decoration-color: #9E9B98;
}

.product__sale {
    color: #FA6A3C;
    text-align: center;
    font-size: 28px;
}

.product__sale_disabled {
    display: none;
}

.product__button-buy {
    font-family: Inter;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    height: 40px;
}